/* --------------------------------------------------
   Main Timeline
-------------------------------------------------- */
#timeline {
  	margin: 0 0 0 50px;
  	padding-top: 10px;
  	padding-bottom: 10px;
	position: relative;
	@include prefix(transition, all .4s ease);
		
	/* --------------------------------------------------
	   Timeline Line
	-------------------------------------------------- */

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: darken($background, 5%);
		left: -20px;
		top: 0;
		position: absolute;
		
		@include breakpoint(small) {
			left: 0;
		}
	}

	&:after {
		display:none;
		
		@include breakpoint(medium-large){
			display: block;
			content: "";
			width: 13px;
			height: 13px;
			@include border-radius(50%);
			position: absolute;
			bottom:0px;
			left: -5px;
			background-color: darken($background, 5%);
		}
	}
	
	/* --------------------------------------------------
	   Timeline post 
	-------------------------------------------------- */
	.timeline-item {
		margin-bottom: 10px;
		position: relative;
		width: 100%;
		padding: 10px;
		@extend .group;
		
		@include breakpoint(small){
			margin-bottom: 20px;
		}
		
		/* --------------------------------------------------
		   Creator icon
		-------------------------------------------------- */
		    
		.timeline-icon {
			@extend .group;
			
			@include breakpoint(small){
				&:hover .creator-name {
					display:block;
				}	
			}

			.creator-image {
				width: 30px;
				height: 30px;
				position: absolute;
				top: 20px;
				left: -34px;
				overflow: hidden;
				border:2px solid $white;
				@include prefix(border-radius, 50%);
				@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
				
				img {
					height: 26px;
					width: 26px;
				}
				
				@include breakpoint(small){
					left:-24px;
					top: 10px;
					border:3px solid $white;
					width: 50px;
					height: 50px;
					
					img {
						width: 44px;
						height: 44px;
					}

				}
				
			}

			.creator-name {
				background-color: $dark-blue;
				color:$white;
				top:-10px;
				left: -20px;
				padding: 2px 5px;
				position: absolute;
				@include border-radius(3px);

				
				&:before {
					content: '';
					position: absolute;
					left: 10px;
					top: 25px;
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent; 
					border-top:5px solid $dark-blue; 	
				}
			}
		}

		

		/* --------------------------------------------------
		   Post Datetime
		-------------------------------------------------- */
		    
		.timeline-datetime {
			position: absolute;
			left:-47px;
			width: 54px;
			top:55px;
			
			p {
				@include prefix(border-radius, 5px);
				@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
				text-align: center;
				background-color: $white;
				@include font-size(10);
				padding: 0px 2px;
				color:$grey8;
			}

			@include breakpoint(small) {
				left: -30px;
				top: 70px;
				width: 65px;
				
				p {
					@include font-size(12);
				}
			}
			


		}

		/* --------------------------------------------------
		   Post Read More/Less links
		-------------------------------------------------- */
		    
		.post-read-link {
			color:lighten($dark-blue, 10%);
			float: right;
			margin-right: 5%;
			padding: 5px;
			@include font-size(14);
			
			&:hover {
				color:$dark-blue;
			}
		}

		
		/* --------------------------------------------------
		   The Actual Post
		-------------------------------------------------- */
		article {
			position: relative;
			float: left;
			background: #fff;
			padding: 5px;
			margin: 0;
			text-align: justify;
			
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);
			
			@include breakpoint(small) {
				margin: 0 5%;
			}

			@include breakpoint(medium) {
				padding:30px 60px;
			}
			
			&:before {
				content: '';
				position: absolute;
				left: -6px;
				top: 20px;
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent; 
				border-right:7px solid $white; 
			}
			
			/* --------------------------------------------------
			   Title
			-------------------------------------------------- */

			.post-title {
				padding: 10px 10px 10px 10px;
				background-color: $white;
				color: $dark-blue;
				margin: 0;
				text-align:left;
				font-weight: 600;
				@include font-size(18);
				@include prefix(border-radius, 3px 3px 0 0);
				
				@include breakpoint(small) {
					@include font-size(20);
					padding: 10px 20px 10px 20px;
				}
			}

			/* --------------------------------------------------
			   Text
			-------------------------------------------------- */
				
			.post-text-content {
				padding: 0 10px 10px 10px ;
				text-align: justify;

				h3 {
					color:$grey3;
					@include font-size(16);
					line-height: 30px;
				}

				p ,span {	
					@include font-size(14);
					color:$grey3;
					line-height: 25px;
					
					@include breakpoint(small) {
						@include font-size(15.5);
					}
				}

				a {
					color:darken($blue,25%);
				}

				blockquote {
					line-height: 25px;
					color: $grey6;
					@include font-size(14);
				}
				
				@include breakpoint(small){
				}
				
				@include breakpoint(medium) {
					padding: 0 30px 10px 30px;
				}
			}	

			/* --------------------------------------------------
			   Image
			-------------------------------------------------- */
			.post-image {
				overflow:hidden;
				img {
					max-width: 100%;
					max-height:350px;
				}
			}
			
			/* --------------------------------------------------
			   Video
			-------------------------------------------------- */
						    
			.post-video {
				margin: 0 auto;
				overflow:hidden;
				position: relative;
				height: 120px;
				width: 213.34px;
				
				@include breakpoint(tiny){
					height: 166px;
					width: 295px;
				}

				@include breakpoint(small){
					height: 231.85px;
					width: 412px;
				}
				
				@include breakpoint(medium) {
					height: 309.6px;
					width: 550px;
				}
				
				@include breakpoint(medium-large) {
					height: 253.3px;
					width: 450px;
				}

				@include breakpoint(large) {
					height: 360px;
					width: 640px;
				}

				iframe {
					height: 100%;
					width: 100%;
					border:0;
				}
			}

			/* --------------------------------------------------
			  Show,  Delete , Edit Buttons		       
			-------------------------------------------------- */
			
			.post-delete , .post-edit , .post-show{
				position: absolute;
				top:0;
				
				i {
					padding: 5px;

					&:hover {
						-webkit-transition:ease-in all 100ms;
						-webkit-transform: scale(1.3,1.3); /* Safari */
						transform: scale(1.3,1.3);
					}

				}
			}	

			.post-delete {
				right:20px;
				i  {
					color:$red;
				}
			}

			.post-show {
				right: 0;
				i {
					color:$grey4;
				}
			}

			.post-edit {
				left: 0;
				i {
					color:$blue;
				}
			}
		}
	}

	/* --------------------------------------------------
	   Pagination
	-------------------------------------------------- */

	.pagination {
		cursor: default;
		@extend .group;
		text-align:center;
		margin: 0 auto;
		width: 60%;
		position: relative;
		
		@include breakpoint(small) {
			width: 35%;
		}
	  
		a  {
			padding: 5px 15px;
			display: block;
			float: right;
			color: lighten($dark-blue,5%);
			border: 1px solid $dark-blue;
			@include border-radius(3px);
			
			&:hover {
				background-color: $dark-blue;
				color: $white;
				border: 1px solid $dark-blue
			}
		 }
	  
		.previous_page {
			float: right;
		}

		.next_page {
			float: left;
		}

		.disabled {
			@include border-radius(3px);
			padding: 5px 15px;
			display: block;
			color: $grey9;
			border:1px solid $grey9;

		}
	}
}





/* --------------------------------------------------
   Post Show Page
-------------------------------------------------- */
	    
.post-show-container {
	width: 100%;
	background-color: $white;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;
	
	
	.post-show-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		text-align: justify;
		
		@include breakpoint(medium) {
			width: 570px;
		}
	
		h1 {
			@include font-size(20);
			color:$grey3;
			padding: 20px;
			text-align: center;
			
			@include breakpoint(small) {
				@include font-size(40);
			}
			
		}

		h3,h4 {
			color:$grey4;
			line-height: 30px;
		}

		p ,span {	
			text-align: justify;
			@include font-size(14);
			color:$grey3;
			line-height: 30px;
			// letter-spacing: 1px;
			
			@include breakpoint(small) {
				@include font-size(18);
			}
		}
			
		a {
			color:darken($blue,25%);
		}

		blockquote {
			color:$grey6;
			text-align: justify;
			@include font-size(14);
			line-height: 25px;
			position: relative;
			
			&:before {
				content: "";
				width: 2px;
				position: absolute;
				left:-30px;
				height:100%;
				top: 0;
				background-color: $grey6;
			}
		}
		
		img {
			width: 100%;
		}

		.post-show-video {
			overflow:hidden;
			position: relative;
			height: 168.5px;
			width: 300px;
			margin: 0 auto;

			@include breakpoint(small){
				height: 231.85px;
				width: 412px;
			}
			
			@include breakpoint(medium) {
				height: 309.5px;
				width: 550px;
			}
			
			@include breakpoint(medium-large) {
				height: 282px;
				width: 501px;
			}

			@include breakpoint(large) {
				height: 309.5px;
				width: 550px;
			}

			iframe {
				height: 100%;
				width: 100%;
				border:0;
			}
		}

	}
}