/* --------------------------------------------------
   Main Timeline
-------------------------------------------------- */

#timeline {
  	margin: 0 0 0 50px;
  	padding-top: 10px;
	position: relative;
	@include prefix(transition, all .4s ease);
	
	/* --------------------------------------------------
	   Timeline Line
	-------------------------------------------------- */

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: darken($background, 5%);
		left: -10px;
		top: 0;
		position: absolute;
		
		@include breakpoint(small) {
			left: 0;
		}
	}
	
	/* --------------------------------------------------
	   Timeline post
	-------------------------------------------------- */
	.timeline-item {
		margin-bottom: 30px;
		position: relative;
		padding: 10px;
		@extend .group;
		
		/* --------------------------------------------------
		   Creator icon
		-------------------------------------------------- */
		    
		.timeline-icon {
			@extend .group;

			.creator-image {
				width: 50px;
				height: 50px;
				position: absolute;
				top: 10px;
				left: -34px;
				overflow: hidden;
				@include prefix(border-radius, 50%);
				border:3px solid $white;
				@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
				@include breakpoint(small){
					left:-24px;
				}
				
				img {
					height: 44px;
					width: 44px;
				}
			}

			.creator-name {
				background-color: $dark-blue;
				color:$white;
				top:-10px;
				left: -20px;
				padding: 2px 5px;
				position: absolute;
				@include border-radius(3px);

				
				&:before {
					content: '';
					position: absolute;
					left: 10px;
					top: 25px;
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent; 
					border-top:5px solid $dark-blue; 	
				}
			}

			&:hover .creator-name {
				display:block;
			}
		}

		

		/* --------------------------------------------------
		   Datetime
		-------------------------------------------------- */
		    
		.timeline-datetime {
			position: absolute;
			left:-36px;
			width: 52px;
			top:70px;
			text-align: center;
			background-color: $white;
			@include prefix(border-radius, 5px);
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			@include breakpoint(small) {
				left: -27px;
			}
			
			p {
				@include font-size(14);
				padding: 0px 5px;
				color:$grey8;
			}

		}

		
		/* --------------------------------------------------
		   The Actual Post
		-------------------------------------------------- */
		.timeline-content {
			position: relative;
			float: left;
			background: #fff;
			padding: 5px;
			margin: 0 5%;
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);
			
			@include breakpoint(small) {
				padding:15px;
			}
			
			&:before {
				content: '';
				position: absolute;
				left: -6px;
				top: 20px;
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent; 
				border-right:7px solid $white; 
			}
			
			/* --------------------------------------------------
			   Title
			-------------------------------------------------- */

			.post-title {
				padding-bottom: 5px;
				background-color: $white;
				color: $dark-blue;
				margin: 0;
				font-weight: 600;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			/* --------------------------------------------------
			   Text
			-------------------------------------------------- */
				
			.post-text {
				color:$grey6;
				padding-bottom: 5px;
			}	

			/* --------------------------------------------------
			   Image
			-------------------------------------------------- */
			.post-image {
				img {
					width: 100%;
				}
			}
			/* --------------------------------------------------
			   Delete Button		       
			-------------------------------------------------- */
			
			.post-delete {
				position: absolute;
				top:0;
				right:0;
				
				i {
					color:$red;
					padding: 5px;

					&:hover {
						-webkit-transition:ease-in all 100ms;
						-webkit-transform: scale(1.3,1.3); /* Safari */
						transform: scale(1.3,1.3);
					}

				}
			}	
		}
	}
}

