/* --------------------------------------------------
   Posts Timeline
-------------------------------------------------- */

#timeline {
  	margin: 0 0 0 50px;
  	padding-top: 10px;
	position: relative;
	@include prefix(transition, all .4s ease);
	
	/* --------------------------------------------------
	   Timeline Line
	-------------------------------------------------- */

	&:before {
		content:"";
		width: 3px;
		height: 100%;
		background: darken($background, 5%);
		left: 0;
		top: 0;
		position: absolute;
	}
	
	/* --------------------------------------------------
	   Timeline post
	-------------------------------------------------- */
	.timeline-item {
		margin-bottom: 30px;
		position: relative;
		padding: 10px;
		@extend .group;
		
		/* --------------------------------------------------
		   Icon
		-------------------------------------------------- */

		.timeline-icon {
			width: 50px;
			height: 50px;
			position: absolute;
			top: 0;
			left: -24px;
			overflow: hidden;
			@include prefix(border-radius, 50%);
			border:3px solid $white;
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			
			img {
				height: 44px;
				width: 44px;
			}

			.post-creator {
				position: absolute;
				background-color: red;
			}

			&:hover .post-creator {
				display:block;
			}
		}

		/* --------------------------------------------------
		   Datetime
		-------------------------------------------------- */
		    
		.timeline-datetime {
			position: absolute;
			left:-27px;
			width: 55px;
			top:60px;
			text-align: center;
			background-color: $white;
			@include prefix(border-radius, 5px);
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			
			p {
				@include font-size(14);
				padding: 0px 5px;
				color:$grey8;
			}

		}

		
		/* --------------------------------------------------
		   Post
		-------------------------------------------------- */
		.timeline-content {
			// width: 95%;
			float: left;
			background: #fff;
			padding: 20px;
			margin-left: 5%;
			@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
			@include prefix(border-radius, 5px);
			@include prefix(transition, all .3s ease);
			
			&:before {
				content: '';
				position: absolute;
				left: 5.5%;
				top: 20px;
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent; 
				border-right:7px solid $white; 
			}
			
			/* --------------------------------------------------
			   Title
			-------------------------------------------------- */

			.post-title {
				padding-bottom: 5px;
				background-color: $white;
				color: $dark-blue;
				margin: 0;
				font-weight: 600;
				@include prefix(border-radius, 3px 3px 0 0);
			}

			/* --------------------------------------------------
			   Text
			-------------------------------------------------- */
				
			.post-text {
				color:$grey6;
			}	

			/* --------------------------------------------------
			   Delete Button		       
			-------------------------------------------------- */
			
			.post-delete {
				i {
					color:$red;
					padding: 5px;

					&:hover {
						-webkit-transition:ease-in all 100ms;
						-webkit-transform: scale(1.3,1.3); /* Safari */
						transform: scale(1.3,1.3);
					}

				}
			}	
		}
	}
}

