<% if model.errors.any? %>

  <div id="error_explanation" class="flash flash-alert">

    <ul>
      <% model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>

<% end %>