# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: d27484c0a2a87e34a3bd672e8cb24cf1149dc00fadb93dd4b0721550927a1810e24ce4b40a527ada00c5aae2191c3cd9ee1debd34959b942774f92a764f24c21

test:
  secret_key_base: 6adf6af1321f66863bde564062d3388ce7dccb3311c5ee63e20d113e875306f366c82a8845705b06fc258b848745561ece3a0855e1a58b4cbe92835c6c3ca4f8

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
