/* --------------------------------------------------
Form Layout Template
-------------------------------------------------- */
.l-application {

/* --------------------------------------------------
   New Post
-------------------------------------------------- */
    
	.post-form {

		@extend .group;
		background-color: $white;
		min-width: 300px;
		padding: 30px;
		width: 98%;
		margin: 80px 1%;
		
		@include breakpoint(medium-large) {
		}
		
		input[type="submit"],
		input[type="text"], 
		input[type="email"], 
		input[type="password"], 
		input[type="date"], 
		input[type="tel"], 
		input[type="url"], 
		input[type="number"], 
		input[type="search"], 
		select, 
		textarea { 
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			width: 100%;
		}

		.field-row {
			padding: 5px;
			input {
				width:100%;
			}
		}

		/* --------------------------------------------------
		   Title 
		-------------------------------------------------- */
		    
		.post-title-area {
			input::-webkit-input-placeholder {
				color: $grey7 !important;
			}

			
			input {
				@include font-size(24);
				color:$dark-blue;
				font-weight: 500;
			}
		}

		/* --------------------------------------------------
		   Text Area
		-------------------------------------------------- */
		    
		.post-text-area {
			margin-top: 10px;
			color:$grey4;
			min-height: 300px;
			
			.medium-editor-placeholder {
				min-height: 300px;
				
				&:after {
					font-style: normal;
					color:$greyA;
				}
			}
			
		}

		/* --------------------------------------------------
		   Video
		-------------------------------------------------- */
		    
		.video-url {
			input {
				color:$dark-blue;
			}
		}
		
		/* --------------------------------------------------
		   Image
		-------------------------------------------------- */
		    
		.image-attachment {
			margin:0 auto;
			width: 93px;
			border-radius:4px;
			padding: 5px 8px;
			overflow: hidden;
			background-color: $dark-blue;
			
			&:hover {
				background-color: lighten($dark-blue,5%);
			}
			input {
				float: left;
				&:before {
					content: "add image ...     ";
					color:$white;
					font-variant: small-caps;
				}
			}
			
		}

		/* --------------------------------------------------
		   Tag Checkbox Field
		-------------------------------------------------- */

		.checkbox-field {
			text-align: center;
			@extend .group;
			margin: 10px;

			input[type=checkbox] {
				display:none;
				margin: 0;
				padding: 0;
			}

			.checkbox_label {
				color:$dark-blue;
				float: none;
				display:inline-block;
				padding:5px 10px;
				margin:2px;
				border:1px solid $dark-blue;
				@include border-radius(4px);
				
				&:hover {
					@include prefix(box-shadow, 0px 3px 0 rgba(0,0,0,0.1));
				}

			}

			.check_box:checked + .checkbox_label {
				background-color: $dark-blue;
				color: $white;
				border:1px solid $dark-blue;	
			}
		}
		
		/* --------------------------------------------------
		   Add Post Button
		-------------------------------------------------- */
		.form-actions {
			@extend .group;
			text-align: center;
			
			.form-submit-button {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background-color: $dark-blue;
				@include border-radius(4px);
				background-clip: padding-box;
				border:none;
				padding: 10px;
				@include font-size(12);
				width: 20%;
				margin: 10px 0px;
				color:$white;
				text-transform: uppercase;
				font-weight: 600;
				font-variant: small-caps;
				-webkit-transition:ease-in all 100ms;
				transition:ease-in all 100ms;

				&:hover {
					background-color: lighten($dark-blue, 10%);
				}
			}
		}

		/* --------------------------------------------------
		   Error Notices
		-------------------------------------------------- */

		.error-form {
			float: right;

			ul {
				@extend .group;
				margin-bottom: 10px;
				li {	
					float: right;
					padding: 5px;
					margin: 3px;
					@include font-size(15);
					@include border-radius(3px);
					color: #A94442;;
					background-color: #f2dede;
					border: 1px solid #ebccd1;
				}
			}
		}
		
	}

}
