/* --------------------------------------------------
   Static pages
-------------------------------------------------- */
.static-container {
	width: 100%;
	background-color: $white;
	text-align: center;
	
	.static-wrapper {
		width: 95%;
		margin: 0 auto;
		padding: 20px 0;
		
		@include breakpoint(medium) {
			width: 600px;
		}
	
		h1 {
			@include font-size(40);
			color:$grey3;
			padding: 20px;
			
		}

		p {	
			text-align: justify;
			// font-family:"medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
			@include font-size(18);
			color:$grey3;
			line-height: 35px;
			// letter-spacing: 1px;
		}

	}
}