/* --------------------------------------------------
   Static pages
-------------------------------------------------- */
.static-container {
	width: 100%;
	background-color: $white;
	text-align: center;
	margin: 0 auto;
	
	@include breakpoint(medium) {
		width: 90%;
	}
	
	
	.static-wrapper {
		width: 95%;
		margin: 0 auto;
		padding: 20px 0;
		
		@include breakpoint(medium) {
			width: 570px;
		}
	
		h1 {
			@include font-size(20);
			color:$grey3;
			padding: 20px;
			
			@include breakpoint(small) {
				@include font-size(40);
			}
			
		}

		p {	
			text-align: justify;
			// font-family:"medium-content-serif-font",Georgia,Cambria,"Times New Roman",Times,serif;
			@include font-size(14);
			color:$grey3;
			line-height: 35px;
			// letter-spacing: 1px;
			
			@include breakpoint(small) {
				@include font-size(18);
			}
		}

	}
}