<div class="post-show-container">

	<div class="post-show-wrapper">
	
		<h1><%= @post.title %></h1>

		<p><%= raw @post.text %></p>

		<% unless @post.photo.blank? %>

	  			<%= image_tag(@post.photo.url(:original))%>

		<% end %>

	</div>

</div>