<div class="post-show-container">

	<div class="post-show-wrapper">
	
		<h1><%= @post.title %></h1>

		<% unless @post.text.blank? %>

			<p><%= raw @post.text %></p>

		<% end %>

		<% unless @post.photo.blank? %>

	  			<%= image_tag(@post.photo.url(:original))%>

		<% end %>

		<% unless @post.video.blank? %>

			<div class="post-show-video">

	  			<%= embed(@post.video) %>
			
			</div>

		<% end %>

	</div>

</div>