/* --------------------------------------------------
   Static pages
-------------------------------------------------- */
.static-container {
	width: 100%;
	background-color: $white;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 50px;
		
	
	.static-wrapper {
		width: 100%;
		margin: 0 auto;
		padding: 20px;
		text-align: justify;
		
		
		@include breakpoint(medium) {
			width: 570px;
		}
	
		h1 {
			@include font-size(20);
			color:$grey3;
			padding: 20px;
			text-align:center;
			
			@include breakpoint(small) {
				@include font-size(40);
			}
			
		}

		h3,h4 {
			color:$grey4;
			line-height: 30px;
		}

		p {	
			@include font-size(14);
			color:$grey3;
			line-height: 25px;
			
			@include breakpoint(small) {
				line-height: 30px;
				@include font-size(18);
			}
		}

		a {
			color:darken($blue,25%);
		}

	}
}