<div class="sidebar right">

	<div class="sidebar-title">
		<p>Tags</p>
	</div>
	

	<div class="main-nav">

		<ul>

			<% @tags.all.each do |tag|%>

				<li><%= link_to tag.title.titleize, root_path(tag: tag.title), class: 'tag-links' %></li>

			<% end %>
			
		</ul>

	</div>


	<div class="footer group">

		<a href="mailto:jclackett@gmail.com" target="_top" class="left">Email Us!</a>

		<p class="right" >&copy; GTFO 2015</p>	

	</div>

</div>