<div class="sidebar right">
	

	<div class="main-nav">

		<ul>
			

		</ul>

	</div>


	<div class="footer group">

		<a href="mailto:jclackett@gmail.com" target="_top" class="left">Email Us!</a>

		<p class="right" >&copy; GTFO 2015</p>	

	</div>

</div>