<div class="small-sidebar">

	<div class="sidebar-title">
		<p>tags</p>
	</div>
	

	<div class="sidebar-tags">

		<ul>

			<% @tags.all.each do |tag|%>

				<li><%= link_to tag.title.titleize, root_path(tag: tag.title), class: 'tag-links' %></li>

			<% end %>
			
		</ul>

	</div>


</div>