<div class="static-container">

	<div class="static-wrapper">
	
		<h1>what is this?</h1>

		<h3>This blog acts as our platform to publish and archive our experiences, highs and lows, whilst attempting to GTFO. This will most likely include, posts about us trying to get involved in projects, videos of our daily ongoings, photos of anything we find ‘cool’ and any other slightly relevant stuff.<b style="font-size: 1.6rem;"><br></b></h3><p><br></p><p><b style="font-size: 1.6rem;">project gtfo</b></p><p><b>/prodge’ektˈgee’tee’eff’ohh/</b><br></p><p><b><br></b></p><p><i>noun</i></p><p>an attempt to….</p><p>1. get the f**k out.</p><p>2. gain freedom!</p><p>3. work on something that has purpose, meaning and stimulation.</p><p>4. make money in a different way to the usual 9 to 5 method.</p><p>5. travel sustainably.</p><p>7. achieve the ability to do what you want, when you want.</p><p><br></p><p><i>synonyms</i>:	the great escape, escaping the rat race, getting off the treadmill, avoiding the daily grind, <u><a href="http://www.ndoherty.com">disrupting the rabblement (Niall Doherty)</a></u></p>

	</div>

</div>