<div class="static-container">

	<div class="static-wrapper">
	
		<h1>get in touch</h1>

		<p>If you have any questions about what we are doing, or just want a general chat, we'd love to hear your thoughts.</p>

		</br>

		<p>Contact us on our personal emails: <u>jclackett@gmail.com</u> or <u>georgeborg00@hotmail.com</u></p>

		</br>

		<p></p>

		</br>
		
		<p></p>

	</div>

</div>