<div class="static-container">

	<div class="static-wrapper">
	
		<h1>the story so far</h1>

		<h3>In a nutshell, we quit our comfortable (<i>not too bad</i>) jobs, and left our comfortable homes on a beautiful island, where our mums cooked us dinner, and did our washing, and then we moved to Amsterdam.</h3><p></p><p><b><br></b></p><p><b>What is the Plan? </b></p><p><br></p><p>Well, we have a bit of money saved up, so we are going to travel a few European tech startup hubs in pursuit of interesting projects and interesting people, to whom we could potentially offer our services.</p><p><br></p><p><b>What services? </b></p><p><br></p><p>Both have degrees and experience in mechanical engineering, we also know how to make web apps. Our first was <a href="http://www.eternalarchive.co.uk"><u>The Eternal Archive</u></a>, closely followed by <a href="http://www.lynkr.io"><u>Lynkr</u></a>, with more to come. On top of having a keen interest in technology, business and engineering, we also read around a load of other subjects, politics, philosophy, biographies, science, literature.<br></p><p><br></p><p><br></p><p>We are fairly open minded and are not strangers to questioning the norm. </p><p><br></p><p>Most importantly, we dont get the societal norm of a 9-5 career, especially ones that are work for works sake and we dont plan on retiring as such. At the moment, we see the only alternative as pursuing projects that are meaningful, are working towards a higher cause, are challenging us on a daily basis and ones that we want to be involved in. We want to figure out how to make this financially sustainable; it will be difficult, but not impossible!</p><p><br></p><h3><b>To summarise, we quit our jobs, moved to Amsterdam (<i>where we know no one</i>) and are now attempting to figure out how to make it on our own.</b></h3>

	</div>

</div>