<div class="static-container">

	<div class="static-wrapper">
	
		<h1>the story so far</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus voluptatum magni vitae, nesciunt officiis ducimus itaque quam necessitatibus maxime facilis, molestias dignissimos magnam modi suscipit porro pariatur ullam! Ipsa, possimus.</p>
		</br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nemo laborum, quas ut. Saepe officia sequi, earum qui maxime. Dolorem praesentium veritatis soluta quisquam veniam aut beatae quis voluptates alias?</p>
		</br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates explicabo amet atque esse ratione consequuntur repellat tenetur quo quasi delectus nihil rerum cumque nostrum illo, nemo ab sequi iste, ut.</p>
		</br>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates explicabo amet atque esse ratione consequuntur repellat tenetur quo quasi delectus nihil rerum cumque nostrum illo, nemo ab sequi iste, ut.</p>

	</div>

</div>