.l-application {

/* --------------------------------------------------
Sidebar
-------------------------------------------------- */
.sidebar {
	height:calc(100% - 60px);     // Need to sort this out
	@extend .group;
	background-color: $darker-blue;
	width: 300px;
	position: fixed;
	right:-300px;
	padding: 20px;
	margin-top: 60px;
	z-index: 2;
	
	@include breakpoint(medium-large) {
		right: 0;
	}
	
	/* --------------------------------------------------
	   Sidebar Title
	-------------------------------------------------- */
	.sidebar-title {
		margin-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $grey9;
		
		p {
			margin:0 0 10px 0;	
			font-weight:700;
		}
	}

	/* --------------------------------------------------
	   Tags
	-------------------------------------------------- */
	.sidebar-tags {
		text-align: left;

		ul {
			@extend .group;
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			li {	
				float: left;
				margin-right: 5px;
				a {
					color:$greyE;
					padding:5px 10px;
					border:1px solid $greyE;
					background-color: $dark-blue;
					@include border-radius(4px);
					
					&:hover {
						background-color: darken($dark-blue, 2%);
					}
				}

			}

		}

	}

	/* --------------------------------------------------
	   Footer
	-------------------------------------------------- */
	.footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		right: 0;
		padding: 10px 20px;
		
		a {
			color:$greyE;
			@include font-size(12);
			margin: 0;
			line-height:19px;
		}
		
		p {
			@include font-size(12);
			margin: 0;
		}
	}
}
}