.l-application {
/* --------------------------------------------------
   Topbar
-------------------------------------------------- */
.top-bar {
	width: 100%;
	@include box-shadow(0px,0px,2px,1px,rgba(0,0,0,0.2));
	background-color: #FFF;
	z-index: 1;
	top: 0;
	left: 0;
	position: fixed;
	height: 60px;	
	

	/* --------------------------------------------------
	   Links
	-------------------------------------------------- */
	    
	
	
	/* --------------------------------------------------
	   Logo
	-------------------------------------------------- */
	.logo-section {
		cursor: pointer;
		
		h3 {
			line-height: 35px;
			font-weight: 500;
			color:$dark-blue;
			letter-spacing: 2px;
			font-variant: small-caps;
			padding: 10px 20px;
			margin: 0;
			@include no-select(none);
		}
	}

	/* --------------------------------------------------
	   Links Buttons
	-------------------------------------------------- */
	.story-so-far, .new-post-button , .new-tag-button {
		
		a {	
			cursor: pointer;
			line-height: 55px;
			font-weight: 500;
			color:$dark-blue;
			font-variant: small-caps;
			padding: 5px;
			margin: 0 5px;
			@include no-select(none);
			@include font-size(18);
			
			&:hover {
				border-bottom:1px solid $dark-blue;
			}
		}

	}

	/* --------------------------------------------------
	   Login Section
	-------------------------------------------------- */
	.login-section {

		// User Avatar Image
		.current-user {

			img {
				cursor:pointer;
				display:block;
				height: 40px;
				width: 40px;
				margin:10px;
				border-radius:50%;
				border:1px solid $white;
				
				&:hover {
					@include box-shadow(0px,0px,0px,3px, $dark-blue);
					border:1px solid $dark-blue;
				}
			}
		}

		/* --------------------------------------------------
		  Logout Pop up Section
		-------------------------------------------------- */
		.user-logout {
			display:none;
			position:absolute;
			margin: 0;
			text-align: center;
			right:55px;
			top: 5px;
			z-index: 2;
			background-color: $white;

			a {
				text-decoration:none;
				padding: 10px;
				margin: 0;
				font-weight: 500;
				@include font-size(12);
				text-transform: uppercase;
				line-height: 50px;
				color:$grey7;

				&:hover {
					color:$dark-blue;
				}

			}

		}

		/* --------------------------------------------------
		   Login Section
		-------------------------------------------------- */
		.user-login {
			position:absolute;
			margin: 0;
			text-align: center;
			right:0px;
			top: 5px;
			z-index: 2;
			background-color: $white;

			a {
				text-decoration:none;
				padding: 10px;
				margin: 0;
				font-weight: 500;
				@include font-size(12);
				text-transform: uppercase;
				line-height: 50px;
				color:$grey7;

				&:hover {
					color:$dark-blue;
				}

			}

		}

	}

}


}